{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block style %}
    <link href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://abs-0.twimg.com/login/password-reset.ef5620c0a0af23edaa5965591adf636e2e1669e4.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="PageContainer">
        <div class="Section">
            <a href="{% url 'login' %}">Back to login</a>
            <div class="PageHeader Edge">
                Forgot your password?
            </div>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST" class="Form">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="Send me instructions!" class="Button EdgeButton--primary EdgeButton">
                </form>
        </div>
    </div>
{% endblock %}