#nav li a:hover:not(.active) {
    background-color: #CCFF;
}

#nav .active {
    background-color: #44FF;
}
.username{
    font-size: 20px;
}
.tweet_field{
    float: right;
}
.action_with_tweet_li {
    display: inline-block;
}
.reply_text{
    background-color: green;
}
