{% load static %}
<html lang="en" data-scribe-reduced-action-queue="true">
    <head>
    <title> {% block title %} Title {% endblock %}</title>
    <meta charset="utf-8">
    {% block style %}
    {% endblock %}

    </head>
    <body>
        <header>
        <nav>
            {% block nav %}
            {% endblock %}
        </nav>
        </header>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>