
{% include 'header.html' %}
{% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tweeter/people_style.css' %}">
{% if user.is_authenticated %}
{% block nav %}
    <div id="nav">
        <ul>
            <li><a href="{% url 'tweeter:index' %}" >Home</a></li>
            <li><a href="{% url 'tweeter:people' %}" class="active"> People </a></li>
    </ul>
    </div>
{% endblock %}

        <div id="people_list">
            <h3> People you may want to follow </h3>
            {% if user_list %}
                <ul>
                {% for u in user_list %}
                    <li style="display: inline-block;"><span style="font-size: 20px;"><strong>{{ u.username }}</strong></span> </li>
                    {% if u.username !=  user.username %}
                    <li style="display: inline-block;"> <button onclick="" class="btn btn-primary">Follow</button>
                    {% endif %}
                    </li>
                    <br>
                {% endfor %}
                </ul>
            {% else %}
                <p>Don't have a tweet yet!</p>
            {% endif %}
        </div>
{% endif %}