
{% include 'header.html' %}
{% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tweeter/people_style.css' %}">
{% if user.is_authenticated %}
{% block nav %}
    <div id="nav">
        <ul>
            <li><a href="{% url 'tweeter:index' %}" >Home</a></li>
            <li><a href="{% url 'tweeter:people' %}" class="active"> People </a></li>
    </ul>
    </div>
{% endblock %}

        <div id="people_list">
            <h3> People you may want to follow </h3>
            {% if user_with_follow_info_list %}
                <ul>
                {% for user_with_follow_info in user_with_follow_info_list %}
                    <li style="display: inline-block; margin-left: 20px;"><span style="font-size: 20px;"><strong>{{ user_with_follow_info.user_to_display.username }}</strong></span> </li>
                    {{ user_with_follow_info.number_of_following }} following{{ user_with_follow_info.number_of_following|pluralize  }}
                    {{ user_with_follow_info.number_of_follower }} follower{{ user_with_follow_info.number_of_follower|pluralize }}
                    {% if user_with_follow_info.user_to_display.username !=  user.username %}
                    {% if user_with_follow_info.is_followed %}
                        <li style="display: inline-block; margin-left: 20px;"> <button onclick="location.href='{% url "tweeter:follow_user" user_with_follow_info.user_to_display.id %}'" class="btn btn-primary">Unfollow</button>
                    {% else %}
                        <li style="display: inline-block; margin-left: 20px;"> <button onclick="location.href='{% url "tweeter:follow_user" user_with_follow_info.user_to_display.id %}'" class="btn btn-primary">Follow</button>
                    {% endif %}
                    {% endif %}
                    </li>
                    <br>
                {% endfor %}
                </ul>
            {% else %}
                <p>Don't have a tweet yet!</p>
            {% endif %}
        </div>
{% endif %}